configuration {
    modi: "drun";
    font: "{{ .font.interface }} 12";
    show-icons: true;
    terminal: "{{ .core.terminal }}";
    sort: true;
    sorting-method: "normal";
    case-sensitive: false;
    cycle: true;
    click-to-exit: true;
    dpi: {{ .core.dpi }};
}
@theme "gruvbox-dark-hard"
