// SPDX-FileCopyrightText: 2021 k4leg <python.bogdan@gmail.com>
//
// SPDX-License-Identifier: CC0-1.0

configuration {
    modi: "drun";
    font: "{{ .font.interface }} 12";
    show-icons: true;
    terminal: "{{ .core.terminal }}";
    sort: true;
    sorting-method: "normal";
    case-sensitive: false;
    cycle: true;
    hide-scrollbar: true;
    fullscreen: false;
    click-to-exit: true;
    show-match: true;
    theme: "gruvbox-dark-hard";
}
