# SPDX-FileCopyrightText: 2021 k4leg <python.bogdan@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

[ ! -v XDG_DATA_HOME ] && export XDG_DATA_HOME=~/.local/share
[ ! -v XDG_CONFIG_HOME ] && export XDG_CONFIG_HOME=~/.config
[ ! -v XDG_STATE_HOME ] && export XDG_STATE_HOME=~/.local/state
[ ! -v XDG_CACHE_HOME ] && export XDG_CACHE_HOME=~/.cache
export PATH="$PATH":~/.local/bin

__path_to_p10k_instant_prompt="$XDG_CACHE_HOME/p10k-instant-prompt-${(%):-%n}.zsh"
[ -r "$__path_to_p10k_instant_prompt" ] \
    && source "$__path_to_p10k_instant_prompt"

export ZSH=~/.oh-my-zsh
ZSH_THEME=powerlevel10k/powerlevel10k
DISABLE_AUTO_UPDATE=true
COMPLETION_WAITING_DOTS=true
plugins=(git vi-mode)
fpath+=/usr/share/zsh/site-functions
source "$ZSH/oh-my-zsh.sh"

export EDITOR='{{ .core.editor }}'
export VISUAL="$EDITOR"
export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/ripgreprc"

alias !=sudo
alias s='! -i'
alias e=\$EDITOR
alias e!=sudoedit
alias e-zshrc='chezmoi edit ~/.zshrc'
alias e-nvim='chezmoi edit "$XDG_CONFIG_HOME/nvim/init.vim"'

alias ls='ls --color=tty -F'
alias diff='diff --color -Naurp0'
alias delta='delta --dark'
[ "$TERM" = xterm-kitty ] && alias icat='kitty +kitten icat'

[ -f ~/.p10k.zsh ] && source ~/.p10k.zsh
