# SPDX-FileCopyrightText: 2021 k4leg <python.bogdan@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

gtk-application-prefer-dark-theme=true
gtk-theme-name="Breeze-Dark"
gtk-icon-theme-name="Adwaita"
gtk-font-name="{{ .font.interface }}, 10"
gtk-cursor-theme-name="Adwaita"
gtk-cursor-theme-size=24
gtk-toolbar-style=3
gtk-toolbar-icon-size=GTK_ICON_SIZE_LARGE_TOOLBAR
gtk-button-images=1
gtk-menu-images=1
gtk-enable-event-sounds=1
gtk-enable-input-feedback-sounds=1
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle="hintlight"
gtk-xft-rgba="rgb"
gtk-primary-button-warps-slider=0
gtk-enable-animations=1
