gtk-theme-name="Breeze-Dark"
gtk-icon-theme-name="breeze-dark"
gtk-enable-animations=1
gtk-primary-button-warps-slider=0
gtk-toolbar-style=3
gtk-menu-images=1
gtk-button-images=1
gtk-cursor-theme-size=36
gtk-cursor-theme-name="Adwaita"
gtk-font-name="{{ .font.interface }}, 10"
gtk-application-prefer-dark-theme=true
gtk-toolbar-icon-size=GTK_ICON_SIZE_LARGE_TOOLBAR
gtk-button-images=1
gtk-enable-event-sounds=1
gtk-enable-input-feedback-sounds=1
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle="hintfull"
gtk-xft-rgba="rgb"
